<div class="col-lg-6">
<h2>Sarah</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
	<br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur est sequi voluptas aperiam autem animi laboriosam id pariatur esse atque sint quaerat nostrum delectus?
</p>

</div>
<div class="col-lg-6">
<h2>Ruskin</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
	<br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur est sequi voluptas aperiam autem animi laboriosam id pariatur esse atque sint quaerat nostrum delectus?
	
</p> 
</div>