<!-- <div class="col-lg-6">
	<h2>Sarah</h2>
	<div class="row">
		<div class="col-lg-6">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
			</p> 
		</div>
		<div class="col-lg-1">
			<div class="chart_one"></div>	
		</div>
	</div>
</div>
<div class="col-lg-6">
	<h2>Ruskin</h2>
	<div class="row">
		<div class="col-lg-6">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
			</p> 
		</div>
		<div class="col-lg-1">
			<div class="chart_two"></div>	
		</div>
	</div>
</div>
 -->
<section id="bio">
	<div class="col-lg-5 text-left">
		<h2 class="text-left">Sarah</h2>
		<hr>
		<p class="jumbotron">
			During my physics studies I was always looking for the Sarah Jane Constant - so when I met Ruskin I was very excited that I could stop studying physics!  It was a big plus that he was such a kind, smart, energetic and perfect man.
		</p> 
	</div>

	<div class="col-lg-5 col-lg-offset-2 text-right">
		<h2 class="text-right">Ruskin</h2>
		<hr>
		<p class="jumbotron">
			Sarah is a terrible life partner! I am actually doing all men a favour by marrying her and keeping all this horror to myself...at least that's the press release that I'm planning on putting out eventually. Off the record, I just want to cover up how incredible Sarah really is in case better men catch wind and try to steal her away. I really hit the jackpot finding such a high calibre teammate that (mostly) laughs at my jokes - definite keeper. That's even more lucky when you consider the appalling gender ratios at our University where we met!
		</p> 

	</div>
	<div class="col-lg-6 col-lg-offset-3">
		<h2 class="text-center">Us</h2>
		<hr>
		<p class="jumbotron text-center">
			Our adventure together so far has taken us from London, to France, to Switzerland.  We have studied, job hunted, skied, chalet hosted, danced, travelled, over-eaten, relocated, and camped with cows, amongst other things, together.  All of these experiences have made us very excited about spending the rest of our lives together, so we are looking forward to celebrating this decision in Tobago!
		</p> 

	</div>
</section>