<!-- <div class="col-lg-6">
	<h2>Sarah</h2>
	<div class="row">
		<div class="col-lg-6">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
			</p> 
		</div>
		<div class="col-lg-1">
			<div class="chart_one"></div>	
		</div>
	</div>
</div>
<div class="col-lg-6">
	<h2>Ruskin</h2>
	<div class="row">
		<div class="col-lg-6">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
			</p> 
		</div>
		<div class="col-lg-1">
			<div class="chart_two"></div>	
		</div>
	</div>
</div>
 -->
<section id="bio">
	<div class="col-lg-5 text-left">
		<h2 class="text-left">Sarah</h2>
		<hr>
		<p class="bg-info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
		</p> 
	</div>

	<div class="col-lg-5 col-lg-offset-2 text-right">
		<h2 class="text-right">Ruskin</h2>
		<hr>
		<p class="bg-info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque dolores eaque quia labore sit facilis magni enim praesentium nihil eveniet quaerat similique est porro quisquam accusamus ut error consectetur..long para.sublime-snippet
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis, enim veritatis sapiente temporibus consectetur
		</p> 

	</div>
</section>