    
<%= form_for :user_news, html:{class: "form-horizontal"}, url: users_path do |nf| %>
	
	<p class="form-group col-sm-9 col-sm-offset-">
		<%= nf.text_field :email, :placeholder => "Enter Email For Newsletter", class: "form-control" %>
	</p>		
	<p class="hidden">
		<%= nf.hidden_field :newsletter, value: 'true' %>
	</p>

	<p class="form-group pull-right col-sm-4">
		<%= nf.submit "Sign Up", class: "btn btn-block btn-primary pull-right" %>	
	</p>
	
<% end %>
