<div class="jumbotron">
<h3>
	The Proposal
</h3>
<hr>
<h4>Sarah's View</h4>
<blockquote>
	"After a perfect relaxing spa morning I couldn't understand why we wanted to ski-doo in such freezing weather.  Ruskin was also very quiet so I assumed he was unkeen or hungry.  After watching our accompanying couple, Landey and Alex, tip over on their 2 ton machine, I was completely terrified.  Luckily Ruskin let me drive and after some hairy bends and snow angels, I was having an amazing time!  We made it to the top of the mountain, which is when Ruskin got down on one knee and proposed.  Amazing!"
</blockquote>
<h4>
	Ruskin's View
</h4>
<blockquote>
	"If you've ever had the misfortune to be with a cold and hungry Sarah then you can imagine the degree of anxiety I felt when the amazing snowmobiling+champagne plans were quickly drowned in shouts of 'slow down! i don't like it! my hands are cold! when will we eat! i said that's too fast!!' Suddenly a proposal didn't seem like the greatest idea. However that all changed as soon as Sarah was in the driving seat, speeding EVEN faster than I was and shrieking with adrenaline. In hindsight, I should probably have been  even more nervous then about what that must say about our relationship but I was just happy to see a smile that I could make even more happy with a proposal."
</blockquote>
</div>