    
<%= form_for :user, html:{class: "form-horizontal"}, url: sessions_path do |f| %>
	
	<p class="form-group col-sm-9 col-sm-offset-">
		<%= f.text_field :email, :placeholder => "Enter Email to RSVP", class: "form-control" %>
	</p>		
	
	<p class="hidden">
		<%= f.hidden_field :attendance, value: 'true' %>
	</p>
	<p class="form-group pull-right col-sm-4">
		<%= f.submit "RSVP", class: "btn btn-block btn-primary pull-right" %>	
	</p>
	
<% end %>