<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
     <%= image_tag('p1.jpg') %>
     
    </div>
    <div class="item">
     <%= image_tag('p2.JPG') %>
     
    </div>
    <div class="item">
     <%= image_tag('p3.JPG') %>
      
    </div>
    <div class="item">
     <%= image_tag('rs.JPG') %>
      
    </div>
  </div>
</div><!-- /.carousel -->
