<div class="jumbotron">
<h3>
	The Wedding
</h3>
<hr>
<blockquote>
	Sarah and the Mums are off to Tobago in May to organise the wedding, and check on the sun lounger quality :)  We have noted a few handy tips below, that should help you with planning.
	<br>
	=> We will be putting together a relaxed itinerary in the week leading up to the wedding, so if you fancy arriving earlier than the 8th, it should be a good opportunity to get to know more of the wedding crowd, work on your wedding tan, and explore some different places and activities that the island has to offer.
	<br>
	=> If you are looking at flight costs, Monarch airlines are the cheapest, although they are renowned as pretty compact (ie. no leg room) for a long haul, and there isn't much luggage allowance either.
	<br>
	=> Accommodation should be cheaper if we ask family living in Tobago to do the booking, so if you find somewhere you like, get in touch and we'll see if we can help reduce the price.  We will also be offering some recommendations for areas to stay in, so watch this space :) 
</blockquote>
</div>