<div class="jumbotron">
		<h1>Site Header</h1>
		
		<p class="lead">
		You can list your wedding date and have a picture in the background or Wtv.
		</p>
		<p>
			<a class="btn btn-lg btn-success" href="#" role="button">
				RSVP!
			</a>
		</p>
</div>
<hr>
<div class="row">
	<%= render "users/bio" %>
</div>

<hr>

<div class="row">
	<%= render "users/chart" %>
</div>
<hr>

<div class="row">
	<div class="col-lg-6">
	<%= render "users/slider" %>
	</div>
	<div class="col-lg-6">
	<%= render "users/proposal" %>
	</div>
</div>