<div class="jumbotron">
<h2>Login</h2><hr>    
	<%= form_for :user, html:{class: "loginform"}, url: sessions_path do |f| %>
<p>
	<%= f.text_field :email, :placeholder => "Email" %>
</p>
<p>
	<%= f.password_field :password, :placeholder => "Password" %>
</p>
	<%= f.submit "Login" %>
<% end %>
</div>