// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.norm p,
table.norm h6,
table.norm h5,
table.norm h4,
table.norm h3,
table.norm h2,
table.norm h1
{
	font-family: 'open_sansregular';
}
table.norm tr{
	height: 20px;
}
table.norm thead{
	font-family: 'oswaldregular';
	font-size:22px;
}