// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding:0px 0;
}
header{
  border-bottom: 1px solid #ccc;
  margin:0 0 15px;
  background:white;
}
form.form-signing label.control-label{
	text-align:left;
}
form.form-signin input[type='checkbox']{
	width:50px;
	padding:0; margin:0;
	webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.pt{
	padding:12px 0 0;
}
textarea.form-control{
	height:150px;
}
.jumbotron{
  background:rgba(238,238,238,0.7)!important;
}
.beachbg{
  background-image: image-url("bgsr.jpeg");
  height:768px;
  width:100%;
  position: absolute;
  bottom:10px;
  // z-index:-1;
  opacity: 0.3;
}
img.bgbc{
  opacity: 0.5;
  position: absolute;
  top:100px;
  padding: 0; margin:0;
}
body { 
  background: image-url("bgsr.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table.norm p,
table.norm h6,
table.norm h5,
table.norm h4,
table.norm h3,
table.norm h2,
table.norm h1
{
	font-family: 'open_sansregular';
}
table.norm tr{
	height: 20px;
}
table.norm thead{
	font-family: 'oswaldregular';
	font-size:22px;
}

.arc path {
  // stroke: #fff;
}
.chart_two,
.chart_one{
	opacity: 0.9
}

.signinform input{
	display:inline;
}

 // * Variable power


// color stuff
$c-bg             : #fff;
$c-baseColor      : rgba(215,57,45,1);
$c-baseColorBright: rgba(102,102,102,1);

$c-border           : rgba(215,57,45,1);
$c-borderDark       : $c-baseColor;
$c-borderBright     : adjust-lightness( $c-baseColor, 10 );
$c-borderBrightPlus : adjust-lightness( $c-baseColor, 10 );
$c-shadow           : $c-baseColor;
$c-dashedLine       : adjust-lightness( $c-baseColor, 10 );

$c-borderDevider : $c-borderBright;

$c-red  : rgba(215,57,45,1);
$c-blue : rgba(107,183,199,1);

// font-stuff
$f-family : sans-serif;

// sizes
$f-baseSize               : 14px;

$f-sizeHeadline           : 2 * $f-baseSize;
$f-sizeSubHeadline        : $f-baseSize;

$f-sizePieChartPercentage : 3 * $f-baseSize;
$f-sizePieChartText       : 2 * $f-baseSize;

$f-sizeBubbleLabel : 0.9 * $f-baseSize;
$f-sizeBubbleValue : 1.5 * $f-baseSize;

// weights
$f-weight            : 100;
$f-weightHeadline    : $f-weight;
$f-weightSubHeadline : 400;

$f-weightPieChartPercentage : 100;

// spacing
$f-spacing : 1px;

// dimensions
$d-chartHeight : 450px;

// set base styles
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

body {
  font-size: $f-baseSize;
  font-family: $f-family;
  font-weight: $f-weight;
  
  ul {
    list-style: none;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
  }
}

.chart {
  min-height: $d-chartHeight;
  

  padding: 1em;
}

.chart--headline, .chart--subHeadline {
  text-align: center;
}

.chart--headline {
  position: relative;
  
  font-weight: $f-weightHeadline;
  font-size: $f-sizeHeadline;

  &:before {
    position: absolute;
    content: '';
    
    bottom: 133%;
    left: 50%;
    
    width: 25%;
    margin: 0 0 0 -12.5%;
    
    // border-top: 1px dashed $c-dashedLine;
  }
}

.chart--subHeadline {
  font-weight: $f-weightSubHeadline;
  font-size: $f-sizeSubHeadline;
  letter-spacing: $f-spacing;
}

.charts--container {
  background-color: $c-bg;
  width: 100%;
  left : 50%;
  top : 10%;
  margin: 5em auto; 
}

.charts--headline {
  text-align: center;
  color: #444;
  background-color: #fff;
  padding: 1em;
}

.lineChart--area {
  fill: url(#lineChart--gradientBackgroundArea);
}

.lineChart--areaLine {
  fill   : none;
  stroke : $c-blue;
  stroke-width: 3;
}

.lineChart--bubble--label {
  fill: none;
  stroke: $c-blue;
  
  font-size: $f-sizeBubbleLabel;
  font-style: italic;
  font-weight: $f-weight;
}

.lineChart--bubble--value {
  fill: #fff;
  stroke: #fff;
  
  font-size: $f-sizeBubbleValue;
  font-weight: $f-weight;
}
.lineChart--circle {
  fill: $c-blue;
  stroke: #fff;
  stroke-width: 3;
}

.lineChart--circle__highlighted {
  fill: #fff;
  stroke: adjust-lightness( $c-blue, -15 );
}

.lineChart--gradientBackgroundArea--top {
  stop-color   : $c-blue;
  stop-opacity : 0.1;
}

.lineChart--gradientBackgroundArea--bottom {
  stop-color   : $c-blue;
  stop-opacity : 0.6;
}

.lineChart--svg {
  border: 1px solid $c-border;
}

// d3.js doesn't let me BEM it. :(
.lineChart--xAxisTicks, .lineChart--xAxis, .lineChart--yAxisTicks {
  .domain {
    display: none;
  }
}

.lineChart--xAxis {
  .tick {
    line {
      display: none;
    }
  }
}

.lineChart--xAxisTicks, .lineChart--yAxisTicks {
  .tick {
    line {
      fill: none;
      stroke: $c-borderBrightPlus;
      stroke-width: 1;
      stroke-dasharray: 2,2;
    }
  }
}

.pieChart--center--innerCircle {
  fill: rgba(215,57,45,1);
}

.pieChart--center--text {
  font-size: $f-sizePieChartText;
}

.pieChart--center--outerCircle {
  fill: rgba( 255, 255, 255, 0.75 );
}

.pieChart--detail--divider {
  
}

.pieChart--detail--percentage {
  font-size: $f-sizePieChartPercentage;
  font-weight: $f-weightPieChartPercentage;
  
  fill: $c-baseColor;
  // stroke-width: 1px;
}

.pieChart--detail--textContainer {
  // background-color: transparent;
  padding: 10px;
  margin: 0;
  
  // color: $c-baseColorBright;
  font-style: italic;
}

.pieChart--detail__left {
  text-align: left;
}

.pieChart--detail__right {
  text-align: right;
}

.pieChart__blue {
  fill: $c-blue;
}

.pieChart__red {
  fill: $c-red;
}

/**
 * Helper classes
 */ 

.hidden {
  display: none;
}