<!DOCTYPE html>
<html>
<head>
  <title>RuskinSarahWedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
        <header>
          <nav>
            <ul class="nav nav-pills pull-right">
             </ul>
           </nav>
          </header>
		<%= yield %>
	
	
		<div class="row">
			
		</div>
	</div>
	</body>
</html>
